.set-file {
  border: 1px;
  border: 2px solid #bec2df;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.set-file input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.set-file:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.set-file:active {
  background: #f0f0f0;
}

.set-file::after {
  content: '+';
  padding: 1.5rem;
  font-size: 2rem;
}

.result {
  display: flex;
}

.result .assemble_img {
  width: 70%;
  float: right;
  position: relative;
}

.result .assemble_img img {
  width: 100%;
}

.result .assemble_img canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
