:root {
  --theme-color: #29B6F6;
  --theme-color-1: #039BE5;
  --normal-color: #a2aebe;
  --padding: 1rem;
  --border-color: #757575;
}

html {
  background-color: #212121;
}

body {
  margin: 0;
}

button {
  color: white;
  position: relative;
  border: 1px solid var(--border-color);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 10px);
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  gap: 5px;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
}

button .pointer {
  background: #555555;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 9999px;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.75s ease-in, opacity 0.6s;
  z-index: -1;
}

button * {
  pointer-events: none;
}

button:hover[disabled] {
  cursor: not-allowed;
}

button:hover:not([disabled]) {
  color: var(--theme-color);
  border-color: var(--theme-color-1);
}