:root {
  --theme-color: #29B6F6;
  --theme-color-1: #039BE5;
  --normal-color: #a2aebe;
  --padding: 1rem;
  --border-color: #757575;
}

html {
  background-color: #212121;
}

body {
  margin: 0;
}

.content .file-in {
  border: 1px solid var(--normal-color);
  padding: 0.5rem;
  position: relative;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: border 0.3s;
  flex: 1;
}

.content .file-in .tips {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: color 0.2s;
  position: relative;
}

.content .file-in:hover,
.puzzle:hover, #code:hover { 
  border-color: var(--theme-color);
}

.content .file-in .tips svg {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

.content .file-in.active .tips,
.content .file-in .tips:hover {
  border-color: var(--theme-color);
  color: var(--theme-color);
}

.content .file-in input {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.upload-panel .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload-panel .list .item {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.upload-panel .list .item .file-img {
  margin-right: 10px;
  height: 100%;
}

.upload-panel .list .item .close svg {
  width: 20px;
  height: 20px;
  color: #a2aebe;
}

.upload-panel .list .item .close:hover svg {
  color: #7d8794;
}

.upload-panel .list .item .name {
  flex: 1;
}

@keyframes maskedAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100% 0;
  }
}

#code {
  white-space: pre;
  line-height: 17px;
  font-size: 10px;
  margin: 1rem;
  border: 1px solid var(--normal-color);
  padding: 0.5rem;
  border-radius: 5px;
  max-height: 400px;
  overflow: auto;
  position: relative;
}

#code:hover .copy {
  display: flex;
}

.class-title {
  cursor: pointer;
  transition: bakground 0.1s;
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
}

.class-title:hover {
  background-color: var(--theme-color);
  color: white;
}

#preview {
  margin: 1rem;
}

.copy {
  position: absolute;
  top: 0.5rem;
  display: none;
  align-items: center;
  right: 0.5rem;
  gap: 0.2rem;
  border: 1px solid var(--normal-color);
  padding: 0.1rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.copy * {
  pointer-events: none;
}

.copy .icon {
  display: flex;
}

.copy svg {
  width: 20px;
  height: 20px;
  animation: show .2s forwards;
}

.copy:hover {
  border-color: var(--theme-color);
  color: white;
  background: var(--theme-color);
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}